@font-face {
  font-family: christmas;
  src: url(../src/font/ttf/christmas_font_1.otf);
}
@font-face {
  font-family: candy;
  src: url(../src/font/ttf/candy_cane.ttf);
}
@font-face {
  font-family: dance;
  src: url(../src/font/ttf/dancing_script.ttf);
}
@font-face {
  font-family: flavour;
  src: url(../src/font/ttf/flavours.ttf);
}
@font-face {
  font-family: neon;
  src: url(../src/font/ttf/neonderthaw.ttf);
}
@font-face {
  font-family: scratch;
  src: url(../src/font/ttf/sacramento.ttf);
}
@font-face {
  font-family: satisfy;
  src: url(../src/font/ttf/satisfy.ttf);
}
.basic {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.christmas {
  font-family: christmas;
}

.candy {
  font-family: candy;
}

.dance {
  font-family: dance;
}

.flavour {
  font-family: flavour;
}

.neon {
  font-family: neon;
}

.scratch {
  font-family: scratch;
}

.satisfy {
  font-family: satisfy;
}

.topicLink {
  outline: none;
  border: none;
}

.topicCard {
  margin: 20px 0;
}

.scroll_beauty::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  width: 7px;
}

.scroll_beauty::-webkit-scrollbar-thumb {
  width: 100%;
  background: linear-gradient(transparent, grey);
  border-radius: 5px;
}

/* stylelint-disable stylistic/selector-list-comma-newline-after */
.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}
/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
   * Blog posts
   */
.blog-post {
  margin-bottom: 4rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

#searchGgl {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchGgl > i,
#searchYt > i {
  position: relative;
  line-height: 0;
  font-size: 20px;
}

#searchYt > i {
  transform: translateX(-1px);
}

#searchYt {
  position: absolute;
  top: 0;
  right: 50px;
  margin: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reltopic {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}/*# sourceMappingURL=style.css.map */